.wrapper {
  margin: -250px auto 0 auto;
  padding: 0 30px;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breedsWrapper {
  color:#B9B9B9;
  text-align: center;
  margin: 0 auto 30px auto;;
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  & a {
    text-decoration: none;
    color: var(--accent-color);
    &:hover {
      transition: all ease 0.3s;
      color: var(--accent-hover-color);
    }
  }
}

.breedsItems {
  color: var(--accent-color);;
  font-size: 25px;
  margin: 0 30px;
}

.productWrapper {
  display: block;

  & h2 {
    text-align: center;
    font-size: 30px;
  }
}

.detailsWrapper {
  display: flex;
}

.imagesWrapper {
  max-width: 500px;
  margin-right: 20px;
}

.mainImgWrapper {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid var(--unimportant-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.mainImg {
  width: 100%;
  max-height: 100%;
  object-fit:contain;
  border-radius: 10px;
}

.infoWrapper {
  width: 100%;
  margin-right: 20px;
}

.infoText {
  margin-bottom: 20px;
}

.infoHeaders {
  color: var(--accent-color);
}

.infoDescription {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.buttonsWrapper {
  padding: 20px 25px;
  min-width: 290px;
  min-height: 165px;
  max-height: 165px;
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.1), 4px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-font-color);
}