.wrapper {
  max-width: 1220px;
}

.breedsWrapper {
  max-width: 800px;
  margin: auto;
}

.productWrapper {
  display: block;
}

.detailsWrapper {
  display: flex;
}

.imagesWrapper {
  
}

.imagesCarouselWrapper {

}

// styles for info

.buttonsWrapper {
  
}