.button {
  width: 140px;
  padding: 7.5px 9px;
  font-size: 0.9rem;
  border: 1px solid var(--accent-color);
}

.button_drop {
  background-color: transparent;
  color: var(--accent-color);

  &:hover {
    background-color: var(--accent-color);
    color: white;
  }

  &:focus {
    outline-color: var(--accent-color);
  }
}