.footer {
  padding: 35px 0;
  width: 100%;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: center;
}

.footer p {
  color: var(--unimportant-color);
}

.container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksContainer {
  display: flex;
  align-items: center;
}

.footer__link {
  color: var(--primary-font-color);
  margin-left: 8px;
  display: flex;
  align-items: center;
  gap: 4px;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../../assets/images/github-mark.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}